@{
    // Set page title
    ViewData["Title"] = "Privacy Policy";
}

<!-- Display Page Title -->
<h1>@ViewData["Title"]</h1>

<!-- Privacy Policy Description -->
<p>Use this page to detail your site's privacy policy.</p>